<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

 <filter>
    <filter-name>RegAndAuthFilter</filter-name>
    <filter-class>ru.job4j.todo.filter.RegAndAuthFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>RegAndAuthFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>AddItemServlet</servlet-name>
    <servlet-class>ru.job4j.todo.servlets.AddItemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowAllItemsServlet</servlet-name>
    <servlet-class>ru.job4j.todo.servlets.ShowAllItemsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowFilterItems</servlet-name>
    <servlet-class>ru.job4j.todo.servlets.ShowFilterItems</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ItemDoneServlet</servlet-name>
    <servlet-class>ru.job4j.todo.servlets.ItemDoneServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowCategories</servlet-name>
    <servlet-class>ru.job4j.todo.servlets.ShowCategories</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>ru.job4j.todo.servlets.RegServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>ru.job4j.todo.servlets.AuthServlet</servlet-class>
  </servlet>
    <servlet>
        <servlet-name>ShowAuthUserServlet</servlet-name>
        <servlet-class>ru.job4j.todo.servlets.ShowAuthUserServlet</servlet-class>
    </servlet>

  <servlet-mapping>
    <servlet-name>AddItemServlet</servlet-name>
    <url-pattern>/add.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowAllItemsServlet</servlet-name>
    <url-pattern>/showAll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowFilterItems</servlet-name>
    <url-pattern>/showFilter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ItemDoneServlet</servlet-name>
    <url-pattern>/done.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowCategories</servlet-name>
    <url-pattern>/categories</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/reg.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/auth.do</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAuthUserServlet</servlet-name>
        <url-pattern>/getAuthUser</url-pattern>
    </servlet-mapping>

</web-app>
